/*
!/.gitignore
!/PatternRecognition
/PatternRecognition/*
!/PatternRecognition/src
!/Puzzle
/Puzzle/*
!/Puzzle/src
!/Kdtree
/Kdtree/*
!/Kdtree/src
!/Wordnet
/Wordnet/*
!/Wordnet/src
!/SeamCarver
/SeamCarver/*
!/SeamCarver/src
!/Baseball
/Baseball/*
!/Baseball/src

